<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-login">
        <div class="vignette"></div>
        <div class="container">
            <a href="/">
                <img src="/images/logodark.png" alt="Food 4 All" width="180" height="55">
            </a>
            <a href="/registro">
                <button class="btn-cadastro">Cadastro</button>
            </a>
            <a href="/login">
                <button class="btn-login">Entrar</button>
            </a>
        </div>
    </nav>
    <div class="banner">
        <img class="logowhite" src="/images/logowhite.png" alt="">
        <h1 class="textoBanner">Comida feita com carinho, amor e de boa qualidade</h1>
    </div>
    <div class="sobre1">
        <h1 class="titulostroke">Aprimore sua alimentação e rotina com nossas refeições personalizadas.</h1>
        <h1 class="textoing">Igredientes orgânicos de produtores locais</h1>
        <h1 class="textoref">Porções calculadas para sua dieta.</h1>
        <div class="imagem-esquerda hidden">
            <img src="/images/ingredientes.png" alt="Ingredientes orgânicos">
        </div>

        <div class="imagem-direita">
            <img src="/images/refeicoes.png" alt="Refeições personalizadas">
        </div>
    </div>
    <div class="sobre2">
        <h1 class="titulowt">Pratos nunca congelados, frescos, que duram até 7 dias na geladeira!</h1>
        <h1 class="subtitulowt">As marmitas são refriadas antes da entrega, garantindo frescor e validade.</h1>
        <h1 class="textoiso">Embalagem isolante</h1>
        <h1 class="textogelo">Pacotes de gel frio</h1>
        <img class="imggelo" src="/images/homegelo.png" alt="">
    </div>
    <div class="comidas">
        <h1>Veja algumas das nossas opções</h1>
        <div class="listacomidas">
            <div class="caixacomida"><img src="/images/bulking.png"><h1>Bulking</h1><p>Uma marmita com carne, verduras, legumes e frutas para auxiliar com seu ganho de massa.</p></div>
            <div class="caixacomida"><img src="/images/veggie.png"><h1>Veggie</h1><p>Marmita vegetariana com proteinas do ovo e fibras essenciais como batata doce e cenoura,  uma refeição leve mas satisfatória.</p></div>
            <div class="caixacomida"><img src="/images/salada.png"><h1>Salada</h1><p>Salada leve para acompanhar o resto de sua refeição, possui verduras e frutos frescos e em temporada.</p></div>
            <div class="caixacomida"><img src="/images/salmão.png"><h1>Salmão</h1><p>Marmita leve com salmão grelhado, arspargos gratinados, arroz, ervilhas e limão para temperar.</p></div>
            <div class="caixacomida"><img src="/images/burrito.png"><h1>Veg Burrito</h1><p>Burrito vegano com massa e proteína a base de plantas, bem recheado e acompanhado de salada com molho caesar veg.</p></div>
            <div class="caixacomida"><img src="/images/sushi.png"><h1>Japonês</h1><p>Marmita japonesa com carnes brancas, arroz gohan, ovos marinados, ervilhas e ovas de peixe, acompanha molho shoyu.</p></div>
            <div class="caixacomida"><img src="/images/snack.png"><h1>Lanche Leve</h1><p>Lanche leve com frutas e sanduíche de frios, abacate e salada. Perfeito para um lanchinho da tarde saudável.</p></div>
            <div class="caixacomida"><img src="/images/feijuca.png"><h1>Feijuca</h1><p>Feijoada light com carne, linguiça calabresa e paio. Acompanha arroz, couve refogada, fatias de laranja e banana empanada.</p></div>
        </div>
    </div>
    <footer>
        <div>
            <div class="footeremail"><img src="/images/email.png" alt=""><h1>contact@food4all.com</h1></div>
            <div class="footertelefone"><img src="/images/telefone.png" alt=""><h1>+55 11 91234-5678</h1></div>
        </div>
        <div><p class="footertext">Todos direitos reservados à Food4All, qualquer uso não autorizado do branding, logo e/ou nome da empresa é sujeito a repercussões legais.</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/animhome.js"></script>


</body>
</html>