body{
    font-family: 'Londrina Solid';
}

.navbar-login{
    background-color: #EDD8CD;
    text-align: center;
}

.banner{
    font-size:30px;
    color: #FFECE2;
    background: url('/images/dashbanner.png');
    width:100%;
    height:90vh;
    display: flex;
    justify-content: center;
    padding: 5vw;
    gap: 2vw;
    flex-direction: column;
}

.sugestoes{
    padding-top:52px;
    background-color: #68332D;
    text-align: center;
    height:720px;
    color: #FFECE2;
}

.comidas{
    background-color: #68332D;
    background-size: auto;
    text-align: center;
    height:800px;
    color: #FFECE2;
}

.listacomidas{
    white-space: nowrap;
    display: flex;
    height: 600px;
    overflow-x: scroll;
    padding: 25px;
    gap: 25px;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color:#68332D #ffffff2d;
}

.caixacomida{
    padding-right: 5px;
    padding-left: 5px;
    padding-top:10px;
    color:#68332D;
    border-style: none;
    border-radius: 20px;
    background-color:#EDD8CD;
    height: 480px;
    width: 300px;
    flex-shrink: 0;
    font-size:24px;
    white-space: wrap;
}

.comidas2{
    background-color: #EDD8CD;
    text-align: center;
    height:800px;
    color: #FFECE2;
}

.txtnov{
    color:#68332D;
}

.listacomidas2{
    white-space: nowrap;
    display: flex;
    height: 600px;
    overflow-x: scroll;
    padding: 25px;
    gap: 25px;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color:#68332D #ffffff2d;
}

.caixacomida2{
    padding-right: 5px;
    padding-left: 5px;
    padding-top:10px;
    color:#FFECE2;
    border-style: none;
    border-radius: 20px;
    background-color:#68332D;
    height: 480px;
    width: 300px;
    flex-shrink: 0;
    font-size:24px;
    white-space: wrap;
}

.novamente{
    padding-top:52px;
    background-color: #FFECE2;
    background: url('/images/bg2.png');
    text-align: center;
    height:720px;
    color:#68332D;
}

.textopag{
    align-self: center;
    justify-self: center;
}

footer{
    background-color: #68332D;
    height:250px;
    color: #FFECE2;
    display: flex;
    padding: 30px 60px;
}

.footeremail, .footertelefone {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer > div:last-child {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  max-width: 500px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footertext{
    font-size:30px;
}

.perfilbola{
    margin-right: 5vw;
}

.textopag{
    align-self: center;
    justify-self: center;
}

.btncarrinhodark{
    border-style: none;
    background: none;
}