.btn-cadastro{
    color: #68332D;
    background-color: #FFECE2 ;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 45px;
    width: 157px;
    height: 48px;
    font-size: x-large;
}

.btn-login{
    background-color: #68332D;
    color: #FFECE2;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 45px;
    width: 157px;
    height: 48px;
    font-size: x-large;
}
.navbar-login{
    background-color: #EDD8CD;
}
body{
    background: url('/images/bg.png');
    background-repeat: repeat;
    background-size: 100vw;
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.corpo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: auto;
}

.vignette {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.areaLogin{
    text-align: center;
    background-color: #EDD8CD;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Londrina Solid';
    width: 376px;
    height: 454px;
    border-style: none;
    border-radius: 45px;
}

.areaLogin2{
    text-align: center;
    background-color: #EDD8CD;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Londrina Solid';
    width: 376px;
    height: 674px;
    border-style: none;
    border-radius: 45px;
}


.tituloLogin{
    font-size: 5vw;
}

.tituloCadastro{
    font-size: 4vw;
}

.caixalogin{
    color: #68332D;
    font-size: 20px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #FFECE2;
    height: 3vw;
    width: 20vw;
    border-style: none;
    border-radius: 45px;
}

.caixalogin2{
    color: #68332D;
    font-size: 20px;
    text-align: center;
    resize: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #FFECE2;
    height: 6vw;
    width: 20vw;
    border-style: none;
    border-radius: 20px;
}

.caixalogin::placeholder{
    text-align: left;
    font-size: 20px;
    padding-left: 1vh;
    color: #68332D;
}

.caixalogin2::placeholder{
    text-align: left;
    font-size: 20px;
    padding-left: 1vh;
    color: #68332D;
}

.btn-entrar{
    background-color: #68332D;
    color: #FFECE2;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 45px;
    width: 157px;
    height: 3vw;
    font-size: x-large;
}

.linkspagina{
    color: #68332D;
}

.esqueci{
    margin-top: 2vh;
    margin-bottom: 2vh;
}