body{
    font-family: 'Londrina Solid';
    background-color: #FFECE2;
}

.navbar-login{
    background-color: #EDD8CD;
    text-align: center;
}

.textopag{
    align-self: center;
    justify-self: center;
}

.infos{
    align-self: center;
    justify-self: center;
    font-size: 35px;
    padding: 5vw    ;
    color: #68332D;
}

.spacernav{
    opacity: 0;
    margin-right: 4vw;
}

footer{
    background-color: #68332D;
    height:250px;
    color: #FFECE2;
    display: flex;
    padding: 30px 60px;
}

.footeremail, .footertelefone {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer > div:last-child {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  max-width: 500px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footertext{
    font-size:30px;
}

.btnSenha{
    background-color: #68332D;
    color: #FFECE2;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 8px;
    width: 5vw;
    height: 2vw;
    font-size: large;
}

.btnSair{
    background-color: #EA3838;
    color: #FFECE2;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 45px;
    width: 157px;
    height: 3vw;
    font-size: x-large;
}

.btnEdit{
    background-color: #68332D;
    color: #FFECE2;
    font-family: 'Londrina Solid';
    border-style: none;
    border-radius: 45px;
    width: 157px;
    height: 3vw;
    font-size: x-large;
}

.btnback img{
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 2vw;
    top: 7vw;
}